<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		<add key ="FormCaption" value ="Parent Child From" />
		<add key ="ConnectionString" value="Data Source=DESKTOP-LQ1SO6G\SQLEXPRESS;Initial Catalog=Homework;Integrated Security=True"/>

		<add key ="ChildQuery" value = "SELECT * FROM Players" />
		<add key ="ParentQuery" value = "SELECT * FROM Teams" />
		<add key ="ChildString" value = "Players"/>
		<add key ="ParentString" value = "Teams"/>
		<add key ="OTMString" value ="TeamsPlayers"/>
		<add key ="Key" value = "team_id"/>
	</appSettings>
		
		<!--
		<appSettings>
		<add key ="FormCaption" value ="Parent Child From" />
		<add key ="ConnectionString" value="Data Source=DESKTOP-LQ1SO6G\SQLEXPRESS;Initial Catalog=Homework;Integrated Security=True"/>

		<add key ="ChildQuery" value = "SELECT * FROM Managers" />
		<add key ="ParentQuery" value = "SELECT * FROM Formations" />
		<add key ="ChildString" value = "Managers"/>
		<add key ="ParentString" value = "Formations"/>
		<add key ="OTMString" value ="FormationsManagers"/>
		<add key ="Key" value = "formation_id"/>
			
		</appSettings>
		-->
</configuration>